*{
    font-family: 'Poppins';
}

h1{
    margin: 10px auto;
    width: fit-content;
}

.text-box{
    margin: 20px auto;
    width: 300px;
    /* border: 1px solid black; */
    font-family: poppins;
    /* padding: 0 10px; */
    border-bottom: 1px solid gray;
    border-radius: 30px;
}

.text-box > input{
    height: 30px;
    border: none;
    width: 276px;
    padding-left: 20px;
    /* border: 1px solid blue; */
    border-radius: 30px;
}

.text-box > button{
    position: absolute;
    height: 30px;
    border: none;
    width: 30px;
    background-color: #fff;
    margin-left: -31px;
    margin-top: 1px;
    border-radius: 100%;
    padding: 0;
    /* padding-top: -10px; */
    font-size: 15px;
    font-family: Poppins;
    /* font-weight: bold; */
    transition: 500ms;
}

.text-box > button:hover{
    filter: invert(1);
}

.tasks-view{

    background-color: blue;
    color: white;
    margin: auto;
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    padding: 10px;
}

.tasks-view > div{
    padding: 5px 10px 10px 0;
    background-color: red;
    text-align: center;
    display: grid;
    grid-template-rows: 50px 200px;
}

.tasks-view > div > ul{
    overflow: scroll;
}

.title{
    margin: 0px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    height: 20px;
}

.title > button {
    margin-top: 20px;
    height: 30px;
    vertical-align: middle;
}

ul {
    list-style: none;
}

li{
    padding: 9px 0 0 10px;
    vertical-align: middle;
    height: 30px;
    margin: 5px auto;
    margin-left: -30px;
    background-color: yellow;
    color: black;
    display: grid;
    grid-template-columns: 1fr 30px 30px;
    column-gap: 5px;
    text-align: left;
    /* padding-le; */
}

.complete > ul > li{
    text-decoration: line-through;
}

.tick-mark{
    width: 30px;
    vertical-align: middle;
    margin-top: -5px;
    transition: 0.3s;
    border-radius: 7px;
}

.tick-mark:hover{
    filter: invert();
    background-color: #fff;
}

.delete{
    width: 27px;
    vertical-align: middle;
    margin-top: -3.5px;
    transition: 0.3s;
    border-radius: 3px;
}

.delete:hover{
    filter: invert();
    background-color: #fff;
}